In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from sklearn import linear_model
import statsmodels.api as sm
from bokeh.plotting import *
from bokeh.io import output_notebook
from bokeh.charts import Scatter, show

In [2]:
df = pd.read_csv('50-Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54  California  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42  California  166187.94

In [4]:
dummies = pd.get_dummies(df['State']).rename(columns=lambda x: str(x))
df = pd.concat([df, dummies], axis=1)

In [5]:
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,1
1,162597.70,151377.59,443898.53,California,191792.06,1,0
2,153441.51,101145.55,407934.54,California,191050.39,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,1
4,142107.34,91391.77,366168.42,California,166187.94,1,0

In [6]:
df[['R&D Spend', 'Administration', 'Marketing Spend', 'New York']].head()

   R&D Spend  Administration  Marketing Spend  New York
0  165349.20       136897.80        471784.10         1
1  162597.70       151377.59        443898.53         0
2  153441.51       101145.55        407934.54         0
3  144372.41       118671.85        383199.62         1
4  142107.34        91391.77        366168.42         0