In [10]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from sklearn import linear_model
import statsmodels.api as sm
from bokeh.plotting import *
from bokeh.io import output_notebook

In [2]:
df = pd.read_csv('SalaryData.csv')

In [3]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [7]:
model = sm.OLS(df['Salary'], df['YearsExperience'])
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.973
Model:                            OLS   Adj. R-squared:                  0.972
Method:                 Least Squares   F-statistic:                     1048.
Date:                Sat, 04 Mar 2017   Prob (F-statistic):           2.56e-24
Time:                        21:42:33   Log-Likelihood:                -327.28
No. Observations:                  30   AIC:                             656.6
Df Residuals:                      29   BIC:                             658.0
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
YearsExperience  1.325e+04    409.401     32.376      0.000      1.24e+04  1.41e+04
==============================================================================
Omnibus:                        0.610   Durbin-Watson:                   0.323
Prob(Omnibus):                  0.737   Jarque-Bera (JB):                0.671
Skew:                          -0.121   Prob(JB):                        0.715
Kurtosis:                       2.308   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.